/* Specifiy what to do when grid is not supported, usually serve mobile experience but this whole game is grid based...*/
@supports not (display: grid) {
	/* Browse with grid please */
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "n n t t t t t t t t t t"
    "n n t t t t t t t t t t"
    "n n t t t t t t t t t t"
    "n n t t t t t t t t t t"
    "n n t t t t t t t t t t"
    "n n t t t t t t t t t t"
    "n n t t t t t t t t t t"
    "n n t t t t t t t t t t"
    "n n t t t t t t t t t t"
    "n n t t t t t t t t t t"
    "n n t t t t t t t t t t"
    "n n t t t t t t t t t t"
    "n n t t t t t t t t t t" */

}

#nav {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "title"
    "stats";

  /* grid-area: n; */
  background-color: #666;
  color: #ccc;
}

#title {
  grid-area: title;
}
#start {
  grid-area: start;
}
#start-button{
  background-color: red;
  padding: 50px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
#stats {
  display: none;
  width: 100%;
}

#text {
  grid-area: text;
}

#chart {
  /* grid-area: chart; */
  /* display: none; */
}

#fastest {
  grid-area: fastest;
}

#target {
  justify-self: stretch;
  background-color: red;
  border-radius: 50%;
  border: 10px inset #aaa;
  grid-area: t;
}

#target:hover {
  cursor: pointer;
}

#blank {
  grid-area: b;
  background-color: #ccc;
}

#target-area{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  ". . . . . . . . . . . ."
  ". . . . . . . . . . . ."
  ". . . . . . . . . . . ."
  ". . . . . . . . . . . ."
  ". . . . . . . . . . . ."
  ". . . . . start . . . . . ."
  ". . . . . . . . . . . ."
  ". . . . . . . . . . . ."
  ". . . . . . . . . . . ."
  ". . . . . . . . . . . ."
  ". . . . . . . . . . . ."
  ". . . . . . . . . . . .";
 ;

  /* background-color: #444; */
  /* border-radius:50%; */
}

#chart div {
  font: 15px sans-serif;
  background-color: darkred;
  text-align: right;
  padding: 10px;
  margin: 5px;
  color: white;
}


@media only screen and (max-width: 576px){
  body{
    flex-direction: column;
  }
  h1{
    padding: 0;
    margin: 0;
  }
  #nav{
    height: 15vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "title"
      "stats";
    
  }
  #target-area{
    height: 85vh;
  }
}